.header{
     font-weight: bold;
     height: 5em;
     padding: 1em;
     display: flex;
     justify-content: space-between;
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 500;
     background-color: rgb(255, 255, 255);
}

.nav-pills>li>a{
    color: black;
}

.nav-pills>li>a:hover{
    color: grey;
}


.tech-stack{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section{
    height: 5em;
}